@charset "utf-8";
/*폰트*/
@font-face {
    font-family: 's-core_dream1_thin';
    src: url('../font/scdream1.woff2') format('woff2'),
         url('../font/scdream1.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 's-core_dream2_extralight';
    src: url('../font/scdream2.woff2') format('woff2'),
         url('../font/scdream2.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 's-core_dream3_light';
    src: url('../font/scdream3.woff2') format('woff2'),
         url('../font/scdream3.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 's-core_dream4_regular';
    src: url('../font/scdream4.woff2') format('woff2'),
         url('../font/scdream4.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 's-core_dream5_medium';
    src: url('../font/scdream5.woff2') format('woff2'),
         url('../font/scdream5.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 's-core_dream6_bold';
    src: url('../font/scdream6.woff2') format('woff2'),
         url('../font/scdream6.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 's-core_dream7_extrabold';
    src: url('../font/scdream7.woff2') format('woff2'),
         url('../font/scdream7.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 's-core_dream8_heavy';
    src: url('../font/scdream8.woff2') format('woff2'),
         url('../font/scdream8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core_dream9_black';
    src: url('../font/scdream9.woff2') format('woff2'),
         url('../font/scdream9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;}
strong {font-weight:normal;}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}
html, body {width:100%;height:100%;font-size:16px;font-family:'s-core_dream4_regular', sans-serif; word-break:break-word;}
ul, ol, li {list-style:none;}
img, input, textarea, select, button {vertical-align:middle;margin:0;padding:0;color:#313131;font-size:14px;line-height:1.5;font-family:'s-core_dream4_regular', sans-serif;}
input, textarea, select{outline:0;}
legend, caption {position:absolute;font-size:1px;width:0;height:0;line-height:0;margin:0;padding:0;background:none;overflow:hidden}
::i-block-chrome{display:none;}
em, address,i {font-style:normal;}
table {border-spacing:0;border:0;width:100%;}
table, td, th {font-size:14px;}
th {text-align:center;}
a {color:inherit;text-decoration:none;cursor:pointer;}
a:hover {text-decoration:none !important;}
ins {display:inline-block;vertical-align:middle;margin:0;text-decoration:none;font-weight:normal;font-style:normal;}
hr {margin:50px 0;border-bottom:1px solid #ccc;border-top:0;border-left:0;border-right:0;}
button {cursor:pointer;border:none;}
button[disabled] {cursor:default;}
img{width:100%;max-width:100%;}
