{{#[../helpers/layout-search] htmlWebpackPlugin}}
    <div class="login__wrap">
        <div class="title">
            <h2 class="h1">Login</h2>
        </div>

        <div class="login">
            <div class="login__form">
                <div class="input__wrap id">
                    <input type="text" class="input" placeholder="아이디 입력">
                </div>
                <div class="input__wrap pw">
                    <input type="password" class="input loging__pw" placeholder="비밀번호 입력">
                </div>
                <div class="login__func">
                    <div class="input__wrap">
                        <input type="checkbox" id="login1" class="input login__chk">
                        <label for="login1">로그인 정보 저장하기</label>
                    </div>
                    <div class="links">
                        <a href="./join.html" class="links join">회원가입</a>
                        <a href="./find.html" class="links find">아이디찾기 / 비밀번호 찾기</a>
                    </div>
                </div>
            </div>

            <div class="login__btn">
                <button type="button" class="button btnLogin">로그인</button>
            </div>
            
        </div>

        <ul class="snsLogin__list">
            <li>
                <a href="#" class="sns__kakao">
                    <span class="blind">카카오</span>
                </a>
            </li>
            <li>
                <a href="#" class="sns__naver">
                    <span class="blind">네이버</span>
                </a>
            </li>
            <li>
                <a href="#" class="sns__facebook">
                    <span class="blind">페이스북</span>
                </a>
            </li>
        </ul>
    </div>
{{/[../helpers/layout-search]}} 