// input
.input__wrap {
    display: inline-block;
    position: relative;

    .input {
        &[type="text"],
        &[type="date"],
        &[type="password"],
        &[type="tel"],
        &[type="number"] {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding: 1.5rem 2rem 1.4rem;
            color: $gray300;
            text-align: left;
            background: $white;
            appearance: none;
            -webkit-appearance: none;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            transition: 1s all;


            &::placeholder {
                font-family: "s-core", sans-serif;
                color: $gray900;
            }
        }

        &[type="checkbox"],
        &[type="radio"] {
            + label {
                padding-left: 3.7rem;
                color: $gray600;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2.8rem;
                background: url("../../assets/images/ico_nochk.png") no-repeat left;
                transition: 0.15s ease;
            }

            &:hover,
            &:focus {
                + label {
                    font-weight: 500;
                }
            }

            &:checked {
                + label {
                    background: url("../../assets/images/ico_chk.png") no-repeat left;
                }
            }
        }
    }

    + .error {
        margin-left: 1.8rem;
    }
}

.input__group {
    display: flex;
    align-items: center;

    &.input__3 {
        .input__wrap {
            width: calc(100% / 3);
        }
    }

    .input__text {
        display: inline-block;
        margin: 0 1rem;
        color: $gray900;
        font-size: 1.6rem;
        font-weight: 300;
    }

    &.vertical {
        align-items: flex-start;
        flex-direction: column;
        width: calc(100% - 26.5rem);
        
        .input__wrap {
            width: 100%;
            + .input__wrap {
                margin: 1rem 0 0;
            }
        }

        &.address {
            .input__wrap {
                &:first-child {
                    width: 50%;
                }
            }
        }
    }
}

// select 

.select {
    padding: 1.5rem 5.2rem 1.4rem 2rem;
    color: $gray900;
    text-align: left;
    background: $white;

}




// 별점
.star__scope {
    display: flex;
    align-items: center;

    .star__input {
        font-size: 0;

        .input__wrap {
            position: relative;
            width: 2rem;
            height: 2rem;

            .label__star {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                height: 100%;
                width: 100%;
                background: url("../../assets/images/icon_star.png") no-repeat center;
            }

            .input {

                &:checked {
                    ~.label__star {
                        background: url("../../assets/images/icon_star_checked.png") no-repeat center;

                    }
                }
                
            }

        }

    }
}