// blind
.blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

// title
.title {
    text-align: center;
    margin: 0 0 1.5rem;

    [class^="h"] {
        color: $point1;
    }
    
    .h1 {
        font-size: 4.8rem;
        font-weight: 400;
    }

    .h2 {
        color: $point1;
        font-size: 2.7rem;
        font-weight: 500;
        line-height: 4.8rem;
    }

    .desc {
        color: $gray900;
        font-size: $font-s;
        font-weight: 400;
        line-height: 4.8rem;
        letter-spacing: -0.025rem;
    }
}

.links {
    a {
        &:not(:first-child) {
            vertical-align: top;
            &::before {
                content: '';
                display: inline-block;
                width: 0.1rem;
                height: 1.4rem;
                margin: -0.2rem 1.7rem;
                background: $gray600;
            }
        }
    }
}