// blind
.blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

// title
.title {
    text-align: center;
    margin: 0 0 1.5rem;
    
    .h1 {
        font-size: $font-3xl;
        font-weight: 600;
    }

    .h2 {
        color: $point1;
        font-size: 2.7rem;
        font-weight: 500;
        line-height: 4.8rem;
    }

    .desc {
        color: $gray900;
        font-size: $font-s;
        font-weight: 400;
        line-height: 4.8rem;
        letter-spacing: -0.025rem;
    }
}