.login__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .title {
        margin-top: 12.5rem;
    }
    
    .login {
        margin-top: 11rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.login__form {
    width: 47rem;

    .input__wrap {
        display: block;

        .input[type="text"],
        .input[type="password"] {
            padding: 2rem 0 1.7rem;
            font-size: 1.8rem;
            background: transparent;
            border-bottom: 0.1rem solid $gray300;
            border-radius: 0;
            
            &:hover,
            &:focus {
                border-color: $point1;
            }

            &::placeholder {
                color: $gray9b;
            }
        }
    }

}

.login__func {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.7rem 0 0;
    color: $gray600;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3rem;

    .input__wrap {
        display: flex;
        font-size: 14rem;
    }

    .links {
        a {
            color: $gray600;
            &:hover,
            &:focus {
                font-weight: 500;
            }
        }
    }
}

.login__btn {
    margin-left: 3rem;

    .btnLogin {
        padding: 6.6rem 6rem;
        color: $white;
        font-size: 2rem;
        letter-spacing: 0;
        background: $point1;
        cursor: pointer;

        &:hover,
        &:focus {
            background: $point2;
        }

    }
}

.snsLogin__list {
    width: 100%;
    margin-top: 5.6rem;
    text-align: center;

    > li {
        display: inline-block;
        margin: 0 1.4rem;
    }

    [class^="sns__"] {
        display: inline-block;
        width: 6.6rem;
        height: 6.6rem;
    }

    .sns__kakao {
        background: url("../../assets/images/img_kakao.png") no-repeat center;
    }
    .sns__naver {
        background: url("../../assets/images/img_naver.png") no-repeat center;
    }
    .sns__facebook {
        background: url("../../assets/images/img_facebook.png") no-repeat center;
    }
}