<footer>
    <ul class="termList">
        <li><a href="#">회사소개</a></li>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">고객센터</a></li>
        <li><a href="#">사업자정보확인</a></li>
    </ul>

    <div class="infoWrap">

    </div>
</footer>
