<footer>
    <div class="footerWrap">
        <div class="titArea">
            <h2 class="h2">portfolio</h2>
        </div>
        <ul class="footerList">
            <li><a href="#">적응형</a></li>
            <li><a href="#">반응형</a></li>
            <li><a href="#">APP</a></li>
        </ul>

        <div class="infoWrap">
            <ul class="footerList">
                <li>이름 : 한이슬</li>
                <li>전화번호 : 010-9343-8426</li>
                <li>이메일 : seulli_hys@daum.net</li>
            </ul>
        </div>

        <p class="copyright">Copyright ⓒ 2023 HANYISEUL All Right Reserved.</p>

    </div>
</footer>
