<header class="header">
  <nav class="gnb">
    <ul class="gnbList">
        <li><a href="#">주변맛집</a></li>
        <li><a href="#">맛집순위</a></li>
        <li><a href="#">허위맛집리스트</a></li>
        <li><a href="#">커뮤니티게시판</a></li>
        <li><a href="#">가이드</a></li>
    </ul>
  </nav>
</header>
