<div class="search__wrap">
    <div class="title">
        <p class="h1">나만의 맛집을 공유하고, 찾아보세요!</p>
    </div> 
    <div class="inputArea">
        <input type="text" class="input" placeholder="지역, 음식을 검색하세요">
        <button type="button" class="button btnSearch"><span class="blind">검색</span></button>
    </div>
</div>