.gnb {
    padding : 3.7rem 0;
    .gnb__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        > li {
            display: inline-block;
            margin: 0 3.4rem;
            > a {
                color: $gray300;
                font-size: $font-m;
                font-weight: 500;
                
            }
        }
    }
}